.hidden {
  position: absolute;
  clip:rect(1px, 1px, 1px, 1px);
  margin: 0px;
  padding: 0px;
}

body {
  border-top: 5px solid #e56038;
  background: #ebe8de;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-size:16px;
  padding: 7px;
  outline: 0;
  border:0;
  width:250px;
  background: #EBE8DE;
  border-radius:5px;
}

input[type=submit] {
  width:auto;
  padding: 5px 18px;
  line-height:25px;
  text-shadow:none;
  cursor:pointer;
  box-shadow: none;
  background: #333333;
  color: #fff;
}

p{
  margin: 5px 0;
  line-height: 25px;
}

a{
  text-decoration: none;
  color: inherit;
  -webkit-transition: color .5s ease;
  transition: color .5s ease;
}

strong{
  font-weight: bold;
}

header {
  width:auto;
  max-width:900px;
  margin: 0 auto 20px auto;
}

header h1 {
  margin: 35px 0 20px 0;
  font-size: 55px;
  color: #e56038;
  font-family: 'Baumans', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4A463B;
  margin-left:132px;
  text-align: right;
}

nav ul {
  list-style:none;
}

nav ul li {
  display:inline-block;
  /*float:left;*/
  padding:10px 15px;
}

/*nav ul::after {
  clear:both;
  content: "";
  display: block;
}*/

nav ul li a {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

nav ul li a:hover {
  color: #E56038;
}


.container article {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  width:350px;
  position:absolute;
  top:15%;
  left:15%;
  display:block;
  z-index:11;
  background-color: RGBA(255,255,255,0.7);
  border-radius: 10px;
  padding: 10px;
}

.container {
  width:auto;
  margin: 0 auto;
  position:relative;
}

#slides {
  width: 100%;
  height: 360px;
  overflow-x: hidden;
}

#signup {
  width:auto;
  height:70px;
  background-color:#e56038;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  color:#fff;
  font-size:18px;
}

#signup p {
  margin-top:22px;
  width:auto;
  position:absolute;
  left:50%;
  margin-left:-450px;
}

#signup .signup {
  margin-top:15px;
  width:auto;
  position:absolute;
  right:50%;
  margin-right:-480px;
}

#deadline {
  width:100%;
  margin:0 auto;
  padding: 50px 0 45px 0;
  background-color: #333;
  color: white;
  text-align: center;
}

#how_we_work {
  width:auto;
  max-width:900px;
  margin:0 auto;
  padding:70px 0 45px 0;
}

section h2 {
  margin: 35px 0 35px 0;
  font-size: 36px;
  color: #e56038;
  font-family: sans-serif;
  text-align: center;
  border-bottom: 2px solid #e56038;
}

#how_we_work article {
  float:left;
  width:250px;
  margin-right:45px;
  font-size:14px;
}

#how_we_work article h3 {
  font-family: 'Open Sans', sans-serif;
  font-size:20px;
  margin-bottom:10px;
  margin-left:75px;
}

#how_we_work article img {
  float:left;
}

#how_we_work article p {
  line-height:25px;
  font-family: 'Open Sans', sans-serif;
  margin-left:75px;
}

#how_we_work::after, #portfolio::after {
	content: "";
  clear: both;
 	display: block;
}

#portfolio::after {
  height: 50px;
}

#portfolio {
  line-height:25px;
  font-family: 'Open Sans', sans-serif;
  width:auto;
  max-width:900px;
  margin:0 auto;
}

/*#portfolio h2 {
  font-size:20px;
  border-bottom: 1px solid #D6D0C1;
  padding: 20px 0;
  margin-bottom: 20px;
}*/

#portfolio .img-item {
  float:left;
  margin-right:25px;
}

figcaption {
  line-height: 25px;
  font-size:14px;
  width:200px;
}

figcaption strong {
  border-bottom: 1px solid #D6D0C1;
  padding-bottom:10px;
  margin: 10px 0;
  display:block;
}


footer {
  position:relative;
  clear:both;
  width:auto;
  height:80px;
  background:#1D1D1D;
}

#copyright {
  height:70px;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;

}

#copyright .wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-top:25px;
  color: #5e5e5e;
  font-size:14px;
  position:relative;
  max-width:900px;
  margin: 0 auto;

}

#copyright .wrapper .social {
  position:absolute;
  right:0;
  top:25px;
}

#copyright .wrapper .social a {
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  opacity: 0.3;
  margin-left: 12px;
  display:block;
  float:left;
}

#copyright .wrapper .social a:hover {
  opacity: 0.7;
}

#copyright .wrapper a {
  color: #ABABAB;
}

#copyright .wrapper a:hover {
  color: #fff;
}

.social img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

@media all and (max-width: 980px) {
  header p {
    margin-right: 40px;
  }

  #signup {
    text-align: right;
    position: static;
  }

  #signup p {
    display: inline-block;
    margin-left: auto;
    position: static;
    font-size: 80%;
  }

  #signup .signup {
    margin-top:15px;
    margin-right: 20px;
    display: inline-block;
    position: static;
  }

  input[type=email] {
    width: 200px;
  }

  #how_we_work article {
    width:50%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 30px;
  }

  #how_we_work article:last-of-type {
    width:50%;
    float:none;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 30px;
  }

  #portfolio {
    text-align: center;
  }

  #portfolio article.img-item {
    width: 45%;
    margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
    float: none;
    vertical-align: top;
    /*padding-bottom: 30px;*/
  }

  #portfolio article figcaption {
    text-align: left;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  header {
    width: 90%;
    margin: 0 auto;
  }

  nav ul li {
    padding: 10px 15px 10px 0px;
  }

  section#signup {
    padding: 0 5%;
  }

  #signup .signup {
    margin-right: 0px;
  }

  section#how_we_work, #portfolio, #copyright {
    width: 90%;
    margin: 0 auto;
  }

  section#how_we_work article {
    padding-left: 0px;
  }

  #copyright {
    position: static;
  }

}

@media all and (max-width: 550px) {

  header h1{
    font-size: 36px;
    text-align: center;
  }

  #how_we_work article, #how_we_work article:last-of-type {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 30px;
  }

  #portfolio article.img-item, #portfolio article figcaption  {
    width: 100%;
  }

  .container article {
    font-size: 80%;
    left: 5%;
  }


}
/* signup form */
@media all and (max-width: 750px) {

  #signup {
    text-align: center;
    height: auto;
  }

  #signup p {
    display: block;
    margin-top: 0px;
    padding-top: 15px;
    font-size: 100%;
  }

  #signup .signup {
    margin: 15px 0px;
  }























}
